<div class="col-md-6 offset-md-3">
    <h2>Ajouter Un Etudiant</h2>
    <br>
    <form (ngSubmit)= "Ajout()">
        <div class="form-group">
            <label for="prenom">Prénom:</label>
            <input type="text" class="form-control" id="prenom" [(ngModel)] = "etud.prenomETU" name="prenom">
        </div>
        <br>
        <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" id="nom" [(ngModel)]="etud.nameETU" name="nom">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Adresse Email:</label>
            <input type="text" class="form-control" id="email" [(ngModel)] = "etud.adresseETU" name="email">
        </div>
        <br>
        <div class="form-group">
            <label for="num">Numéro d'inscription:</label>
            <input type="text" class="form-control" id="num" [(ngModel)] = "etud.numInscription" name="num">
        </div>
        <br>
        <div class="form-group">
            <label for="date">Date d'entrée de l'étudiant(e):</label>
            <input type="date" class="form-control" id="date" [(ngModel)] = "etud.dateEntree" name="date">
        </div>
        <br>
        <button class="btn btn-success" type="submit">Ajouter.</button>
    </form>
</div>