<div class="col-md-6 offset-md-3">
    <h2>Ajouter Un Etudiant</h2>
    <br>
    <form (ngSubmit)= "Ajout()" name="form">
        <div class="form-group">
            <label for="nom">Nom complet de l'université:</label>
            <input type="text" class="form-control" id="nom" [(ngModel)] = "uni.nomUNV" name="nom">
        </div>
        <br>
        <div class="form-group">
            <label for="adr">Adresse de l'université:</label>
            <input type="text" class="form-control" id="adr" [(ngModel)]="uni.adresseSite" name="adr" >
        </div>
        
        <br>
        <br>
        <button class="btn btn-success" type="submit">Ajouter.</button>
    </form>
</div>