<h2> Liste des Etudiants</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Numero d'inscription</th>
            <th>Nom Etudiant</th>
            <th>Prenom Etudiant</th>
            <th>Adresse Email</th>
            <th>Date d'Entrée</th>
            <th>Actions:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let etudiant of etudiants">
            <td>{{etudiant.numInscription}}</td>
            <td>{{etudiant.nameETU}}</td>
            <td>{{etudiant.prenomETU}}</td>
            <td>{{etudiant.adresseETU}}</td>
            <td>{{etudiant.dateEntree | date}}</td>
            <td>
                <button (click)="updateEtudiant(etudiant.numInscription)" class="btn btn-info">Modifier.</button>
            </td>
        </tr>
    </tbody>
</table>