<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="etudiants" routerLinkActive="active" class="nav-link">Liste d'étudiants</a>
    </li>
    <li class="nav-item">
      <a routerLink="creer-etudiant" routerLinkActive="active" class="nav-link">Ajouter un Etudiant</a>
    </li>
  </ul>
</nav>
<br>
<h1 class="text-center">{{title}}</h1>
<br>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>Ceci est le projet effectué par Khalil Trigui et Eya ben Yedder.</span>
  </div>

</footer>